html,
body {
    width: 50%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
    
}
.projecten
{
	width: 300%;
	background-color: #283378;
	margin: 10px;
	padding: 20px;
}
.description {
	width: 100%;
	color: white;
	background-color: #283378;
}


a {
	color: gray	;
}